* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.app {
  max-width: 75%;
  margin: 0 auto;
}

@font-face {
  font-family: GillSans;
  src: url(../fonts/GillSans.ttc);
}
@font-face {
  font-family: GillSansLight;
  src: url(../fonts/Gill\ Sans\ Light.otf);
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
nav {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  border-bottom: 2px solid #fff;
  position: relative;
}
nav .logo {
  width: 92px;
  height: 42px;
}
nav label {
  position: absolute;
  right: 40px;
  top: 15px;
  font-size: 35px;
  line-height: 50px;
  color: #fff;
  display: none;
}
nav .mobile-menu {
  position: absolute;
  right: 40px;
  top: 15px;
  font-size: 35px;
  line-height: 50px;
  color: #000;
  display: none;
}
nav #toggle {
  display: none;
  position: absolute;
  right: 0;
}
nav .home-links a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 15px;
  color: #fff;
  font-family: GillSans;
  letter-spacing: 1px;
}
nav .home-links span {
  color: #79addc;
  margin: 0 19.5px;
}
nav .links a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 15px;
  color: #000;
  font-family: GillSans;
  letter-spacing: 1px;
}
nav .links span {
  color: #79addc;
  margin: 0 19.5px;
}

.nav {
  max-width: 980px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 670px) {
  nav label {
    display: block;
    cursor: pointer;
  }
  nav .mobile-menu {
    display: block;
    cursor: pointer;
  }
  nav #toggle:checked + .home-links {
    display: block;
  }
  nav #toggle:checked + .links {
    display: block;
  }
  nav .home-links {
    margin-top: 480px;
    margin-right: 0px;
    text-align: center;
    display: none;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.96);
    position: absolute;
  }
  nav .home-links a {
    vertical-align: middle;
    text-align: center;
    font-family: GillSansLight;
    display: block;
    border-bottom: 1px solid #fff;
    line-height: 65px;
  }
  nav .home-links span {
    display: none;
  }
  nav .links {
    margin-top: 480px;
    margin-right: 0px;
    text-align: center;
    display: none;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.96);
    position: absolute;
  }
  nav .links a {
    vertical-align: middle;
    text-align: center;
    font-family: GillSansLight;
    display: block;
    border-bottom: 1px solid #fff;
    color: #fff;
    line-height: 65px;
  }
  nav .links span {
    display: none;
  }
  nav .logo {
    margin-left: 5%;
  }
}
@media screen and (max-width: 990px) {
  nav {
    margin: 0 10px 0 10px;
  }

  .nav {
    margin: 0 10px 0 10px;
  }
}
.home-hero {
  max-width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: -80px auto 0 auto;
}
.home-hero h1 {
  font-family: ProximaNova;
  font-size: 60px;
  color: #fff;
  text-align: center;
  padding-top: 172px;
}
.home-hero p {
  max-width: 420px;
  text-align: center;
  margin: 0 auto;
  font-family: GillSans;
  color: #fff;
  font-size: 20px;
  font-style: italic;
}
.home-hero .btn-wrapper {
  background-color: pink;
  width: 121.62px;
  margin: 48px auto 0 auto;
}
.home-hero .btn-wrapper button {
  background-color: #79addc;
  width: 121.62px;
  height: 40px;
  border: none;
  color: #fff;
  font-family: GillSans;
  font-size: 15px;
  text-transform: uppercase;
}
.home-hero .btn-wrapper button:hover {
  cursor: pointer;
}

@media screen and (max-width: 865px) {
  .home-hero {
    height: 100vh;
  }
  .home-hero h1 {
    padding-top: 255px;
  }
}
.tours {
  width: 818px;
  height: 304px;
  margin: 0 auto;
  margin-top: -45px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tours .box {
  height: 304px;
  width: 236px;
  background-color: #dadada;
}
.tours .left {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours .middle {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours .right {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours h2 {
  text-align: center;
  font-family: ProximaNova;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  padding-top: 47px;
}
.tours h3 {
  text-align: center;
  font-family: ProximaNova;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: -15px;
}
.tours button {
  width: 133px;
  height: 40px;
  background-color: #79addc;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: GillSans;
  font-size: 15px;
  text-transform: uppercase;
  margin: 35px 52px;
}
.tours button:hover {
  cursor: pointer;
}

@media screen and (max-width: 865px) {
  .tours {
    flex-direction: column;
    width: 300px;
    min-height: 940px;
    margin-top: 20px;
  }
}
.form-content {
  max-width: 818px;
  margin: 0 auto;
}
.form-content h2 {
  color: #000;
  font-family: ProximaNova;
  letter-spacing: 0.6px;
  font-size: 60px;
}
.form-content .top-row {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .top-row .long-box {
  width: 434px;
}
.form-content .top-row input {
  width: 344px;
  height: 58px;
  border: 2px solid #79addc;
  padding-left: 10px;
  font-family: GillSansLight;
}
.form-content .middle-row {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .middle-row label {
  font-family: GillSansLight;
  font-size: 18px;
}
.form-content .middle-row input {
  width: 698px;
  height: 58px;
  border: 2px solid #79addc;
  padding-left: 10px;
  font-family: GillSansLight;
  padding: 0px 10px;
}
.form-content .room {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .room label {
  font-family: GillSansLight;
  font-size: 18px;
}
.form-content .room select {
  width: 103px;
  height: 58px;
  border: 2px solid #79addc;
  padding-left: 10px;
  font-family: GillSansLight;
}
.form-content .room select:hover {
  cursor: pointer;
}
.form-content .room .adult {
  margin-left: 11px;
}
.form-content .message {
  margin-top: 20px;
}
.form-content .message textarea {
  min-width: 100%;
  height: 192px;
  border: 2px solid #79addc;
  padding: 10px 0px 0px 10px;
  font-family: GillSansLight;
  resize: none;
}
.form-content .button-wrapper {
  margin-top: 20px;
}
.form-content .button-wrapper button {
  min-width: 100%;
  background-color: #79addc;
  height: 60.59px;
  border: none;
  color: white;
  font-family: GillSans;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 30px;
  margin-bottom: 100px;
}
.form-content .button-wrapper button:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .form-content h2 {
    text-align: center;
  }
  .form-content .top-row {
    flex-direction: column;
    height: 130px;
  }
  .form-content .top-row .long-box {
    width: 80%;
  }
  .form-content .top-row input {
    width: 80%;
  }
  .form-content .middle-row {
    flex-direction: column;
    height: 90px;
  }
  .form-content .middle-row input {
    width: 80%;
  }
  .form-content .room {
    flex-direction: column;
    height: 320px;
  }
  .form-content .room select {
    width: 25%;
    margin: 0 auto;
  }
  .form-content .message {
    padding-top: 20px;
    width: 80%;
    margin: 20px auto;
  }
  .form-content .button-wrapper {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
  }
}
footer {
  margin: 0 auto;
  max-width: 100%;
  height: 100px;
  background-color: #79addc;
}
footer .footer-wrapper {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  margin: 0 auto;
}
footer .footer-wrapper .copyright {
  padding-top: 15px;
}
footer .footer-wrapper .copyright p {
  font-family: GillSans;
  font-size: 12px;
  color: #fff;
}
footer .footer-wrapper .social i {
  font-size: 22px;
  color: #fff;
  margin-left: 22px;
}
footer .footer-wrapper .social i:hover {
  cursor: pointer;
}

@media screen and (max-width: 865px) {
  footer .footer-wrapper {
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  footer {
    height: 170px;
  }
  footer .footer-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 990px) {
  footer .footer-wrapper {
    margin: 0 10px 0 10px;
  }
}
.about {
  margin-top: 110px;
  margin-bottom: 180px;
}
.about p {
  margin-bottom: 95px;
}
.about .about-header h1 {
  text-transform: uppercase;
  font-family: ProximaNova;
  font-size: 60px;
}
.about .about-header h1:after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  width: 171px;
}
.about .about-header p {
  font-family: GillSans;
  font-size: 16px;
}
.about .about-client-quotes h2 {
  text-transform: uppercase;
  font-family: ProximaNova;
  font-size: 40px;
  margin-bottom: 37px;
}
.about .about-client-quotes h2:after {
  content: "";
  display: block;
  width: 255px;
  border-bottom: 2px solid black;
}
.about .about-client-quotes p {
  font-family: GillSans;
  font-size: 16px;
}
.about .client-quote-container {
  max-width: 722px;
  display: flex;
  position: relative;
}
.about .client-quote-container .image {
  width: 260px;
  height: 150px;
  margin-right: 21px;
  overflow: hidden;
}
.about .client-quote-container .image img {
  width: 100%;
}
.about .client-quote-container .quote {
  width: 440px;
  padding-bottom: 80px;
  font-style: italic;
}
.about .client-quote-container .client-name {
  position: absolute;
  bottom: 0;
  right: 0;
}
.about .client-quote-container .client-name p {
  font-family: ProximaNova;
  color: #79addc;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .about .client-quote-container {
    flex-direction: column;
  }
  .about .client-quote-container .image {
    margin: 0 auto;
    margin-bottom: 37px;
  }
  .about .client-quote-container .quote {
    width: 90%;
    padding-bottom: 40px;
  }
  .about .client-quote-container .client-name {
    bottom: 0;
    left: 0;
  }
}
.tours-header {
  max-width: 980px;
  height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tours-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 49.5px auto;
}
.tours-header h1 {
  color: #fff;
  font-family: ProximaNova;
  font-size: 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
}

.tours-row {
  max-width: 818px;
  height: 304px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tours-row .box {
  height: 304px;
  width: 236px;
  background-color: #dadada;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours-row .left2 {
  height: 304px;
  width: 236px;
  background-color: #dadada;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-04.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours-row .left3 {
  height: 304px;
  width: 236px;
  background-color: #dadada;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-07.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours-row .middle1 {
  height: 304px;
  width: 236px;
  background-color: #dadada;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours-row .middle2 {
  height: 304px;
  width: 236px;
  background-color: #dadada;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-05.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours-row .middle3 {
  height: 304px;
  width: 236px;
  background-color: #dadada;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-08.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours-row .right1 {
  height: 304px;
  width: 236px;
  background-color: #dadada;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours-row .right2 {
  height: 304px;
  width: 236px;
  background-color: #dadada;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-06.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours-row .right3 {
  height: 304px;
  width: 236px;
  background-color: #dadada;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-09.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tours-row h2 {
  text-align: center;
  font-family: ProximaNova;
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  padding-top: 47px;
  white-space: nowrap;
}
.tours-row h3 {
  text-align: center;
  font-family: ProximaNova;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: -15px;
}
.tours-row button {
  width: 133px;
  height: 40px;
  background-color: #79addc;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: GillSans;
  font-size: 15px;
  text-transform: uppercase;
  margin: 35px 52px;
}
.tours-row button:hover {
  cursor: pointer;
}

@media screen and (max-width: 845px) {
  .tours-row {
    margin-bottom: 34px;
    flex-direction: column;
    width: 300px;
    min-height: 980px;
  }
}
.package-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
  max-width: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 413px;
  color: #fff;
  position: relative;
  margin-top: 48.5px;
}
.package-hero .package-hero-text {
  font-family: ProximaNova;
  font-size: 80px;
  position: absolute;
  top: 30px;
  left: 26px;
}
.package-hero .package-price-text {
  font-family: ProximaNova;
  font-size: 30px;
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  right: 8px;
}

.usa-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
  max-width: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 413px;
  color: #fff;
  position: relative;
  margin-top: 48.5px;
}

.aus-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
  max-width: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 413px;
  color: #fff;
  position: relative;
  margin-top: 48.5px;
}

.nz-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-04.jpg);
  max-width: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 413px;
  color: #fff;
  position: relative;
  margin-top: 48.5px;
}

.france-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-05.jpg);
  max-width: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 413px;
  color: #fff;
  position: relative;
  margin-top: 48.5px;
}

.egypt-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-06.jpg);
  max-width: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 413px;
  color: #fff;
  position: relative;
  margin-top: 48.5px;
}

.japan-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-07.jpg);
  max-width: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 413px;
  color: #fff;
  position: relative;
  margin-top: 48.5px;
}

.canada-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-08.jpg);
  max-width: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 413px;
  color: #fff;
  position: relative;
  margin-top: 48.5px;
}

.uae-hero {
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-09.jpg);
  max-width: 980px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 413px;
  color: #fff;
  position: relative;
  margin-top: 48.5px;
}

@media screen and (max-width: 1025px) {
  .package-hero .package-hero-text {
    padding: 10px;
    line-height: 65px;
  }
  .package-hero .package-price-text {
    padding: 15px;
    line-height: 30px;
  }
}
.package-photo-wrapper {
  max-width: 980px;
  min-height: 347px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 18px;
}
.package-photo-wrapper .isreal1 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-isreal/israel-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .isreal2 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-isreal/israel-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .isreal3 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-isreal/israel-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .usa1 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-usa/usa-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .usa2 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-usa/usa-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .usa3 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-usa/usa-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .aus1 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .aus2 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .aus3 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .nz1 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-nz/nz-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .nz2 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-nz/nz-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .nz3 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-nz/nz-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .france1 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-france/france-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .france2 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-france/france-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .france3 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-france/france-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .egypt1 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .egypt2 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-egypt/egypt-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .egypt3 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .japan1 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-japan/japan-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .japan2 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-japan/japan-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .japan3 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-japan/japan-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .canada1 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-canada/canada-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .canada2 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-canada/canada-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .canada3 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-canada/canada-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .uae1 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-uae/uae-tour-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .uae2 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-uae/uae-tour-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.package-photo-wrapper .uae3 {
  background-color: #ffe6ea;
  height: 347px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/tour/tour-uae/uae-tour-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1025px) {
  .package-photo-wrapper {
    flex-direction: column;
  }
  .package-photo-wrapper .promo {
    margin-bottom: 30px;
  }
}
.package-intinerary-wrapper {
  max-width: 980px;
  margin: 30px auto;
}
.package-intinerary-wrapper .day h2 {
  font-family: ProximaNova;
  font-size: 60px;
  letter-spacing: 10px;
}
.package-intinerary-wrapper .day h2:after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  width: 177.75px;
}
.package-intinerary-wrapper .day p {
  max-width: 100%;
  margin-top: 39px;
  margin-bottom: 70px;
  font-family: GillSans;
  font-size: 16px;
}
.package-intinerary-wrapper .button-wrapper {
  max-width: 133px;
  margin: 10px auto 100px auto;
  padding-top: 10px;
}
.package-intinerary-wrapper .button-wrapper button {
  width: 133px;
  height: 40px;
  background-color: #79addc;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: GillSans;
  font-size: 15px;
  text-transform: uppercase;
}
.package-intinerary-wrapper .button-wrapper button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .package-intinerary-wrapper {
    margin-top: 15px;
  }
  .package-intinerary-wrapper .day {
    margin-bottom: 75px;
  }
  .package-intinerary-wrapper .day h2 {
    text-align: center;
    margin-bottom: 39px;
  }
  .package-intinerary-wrapper .day h2:after {
    margin: 0 auto;
  }
  .package-intinerary-wrapper .day p {
    margin: 0 auto;
    max-width: 68%;
  }
}

/*# sourceMappingURL=styles.css.map */
