.tours-row {
  max-width: $home-form-width;
  height: 304px;
  // background-color: rgb(211, 200, 198);
  margin: $center;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .box {
    @include grid-box();
  }

  .left2 {
    @include grid-box(url(../images/tour/tour-04.jpg));
  }

  .left3 {
    @include grid-box(url(../images/tour/tour-07.jpg));
  }

  .middle1 {
    @include grid-box(url(../images/tour/tour-02.jpg));
  }

  .middle2 {
    @include grid-box(url(../images/tour/tour-05.jpg));
  }

  .middle3 {
    @include grid-box(url(../images/tour/tour-08.jpg));
  }

  .right1 {
    @include grid-box(url(../images/tour/tour-03.jpg));
  }

  .right2 {
    @include grid-box(url(../images/tour/tour-06.jpg));
  }

  .right3 {
    @include grid-box(url(../images/tour/tour-09.jpg));
  }

  h2 {
    text-align: center;
    font-family: ProximaNova;
    color: $site-white;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 47px;
    white-space: nowrap;
  }

  h3 {
    text-align: center;
    font-family: ProximaNova;
    color: $site-white;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: -15px;
  }

  button {
    @include site-btn();
    margin: 35px 52px;
  }
}

@media screen and (max-width: 845px) {
  .tours-row {
    margin-bottom: 34px;
    flex-direction: column;
    width: 300px;
    min-height: 980px;
  }
}
