.tours-promo {
    max-width: 980px;
    min-height: 347px;
    // background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 18px;
    

    .promo {
      @include promo(#f3f3f3);

        
    
       
    }

    .isreal1 {
        background-image: url(../images/tour/tour-isreal/israel-tour-01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .isreal2 {
        background-image: url(../images/tour/tour-isreal/israel-tour-02.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .isreal3 {
        background-image: url(../images/tour/tour-isreal/israel-tour-03.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}