.package-hero {
    @include tour-package-hero(); 
  
    .package-hero-text {
      font-family: ProximaNova;
      font-size: 80px;
      position: absolute;
      top: 30px;
      left: 26px;
      // background-color: pink;
      white-space: nowrap;
    }
  
    .package-price-text {
      font-family: ProximaNova;
      font-size: 30px;
      position: absolute;
      margin-bottom: 0;
      bottom: 0;
      right: 8px;
      // background-color: pink;
    }
  }
  

.usa-hero {
  @include tour-package-hero(url(../images/tour/tour-02.jpg)); 
}

.aus-hero {
  @include tour-package-hero(url(../images/tour/tour-03.jpg)); 
}

.nz-hero {
  @include tour-package-hero(url(../images/tour/tour-04.jpg)); 
}

.france-hero {
  @include tour-package-hero(url(../images/tour/tour-05.jpg));
}

.egypt-hero {
  @include tour-package-hero(url(../images/tour/tour-06.jpg));
}

.japan-hero {
  @include tour-package-hero(url(../images/tour/tour-07.jpg));
}

.canada-hero {
  @include tour-package-hero(url(../images/tour/tour-08.jpg));
}

.uae-hero {
  @include tour-package-hero(url(../images/tour/tour-09.jpg));
}

@media screen and (max-width: 1025px) {
  .package-hero {
      .package-hero-text {
        padding: 10px;
        line-height: 60px;
      }

      .package-price-text {
        padding: 15px;
        line-height: 30px;
      }
  }
}