.package-hero {
    @include package-hero(); 
  
    .package-hero-text {
      font-family: ProximaNova;
      font-size: 80px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  
    .package-price-text {
      font-family: ProximaNova;
      font-style: italic;
      margin-bottom: 0;
      font-size: 30px;
      position: absolute;
      bottom: 0;
      right: 10px;
    }
  }
  