footer {
    margin: $center;
    max-width: 95%;
    height: 100px;
    background-color: $site-blue;
  
    .footer-wrapper {
      max-width: 79%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 35px;
      margin: $center;
      // background-color: purple;
  
      .copyright {
        padding-top: 15px;
  
        p {
          font-family: GillSans;
          font-size: 12px;
          color: $site-white;
        }
      }
  
      .social {
        i {
          font-size: 22px;
          color: $site-white;
          margin-left: 22px;
        }
  
        i:hover {
          cursor: pointer;
        }
      }
    }
  }
  
  @media screen and (max-width: 865px) {
    footer {
        .footer-wrapper {
           
            margin: 0 auto;
            
        }
    }
  }

  @media screen and (max-width: 700px) {
      footer {
          height: 170px;
          .footer-wrapper {
              flex-direction: column;
          }
      }
  }