nav {
    max-width: 75%;
    height: 80px;
    // background-color: rgb(0, 0, 0);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
    border-bottom: 2px solid $site-white;

    .logo {
        width: 92px;
        height: 42px;
    }

    .home-links {

        a {
            text-decoration: none;
            text-transform: lowercase;
            font-size: 15px;
            color: $site-white; 
            font-family: GillSans;
            letter-spacing: 1px;
        }

        span {
            color: $site-blue;
            margin: 0 19.5px;
        }
    }

    .links {
        a {
            text-decoration: none;
            text-transform: lowercase;
            font-size: 15px;
            color: #000; 
            font-family: GillSans;
            letter-spacing: 1px;
        }

        span {
            color: $site-blue;
            margin: 0 19.5px;
        }
    }
}

.nav {
    border-bottom: 2px solid #000;
}


@media screen and (max-width: 865px) {
    nav {
        .logo {
            margin: 0 auto;
        }
        .links {
            margin: 0 auto;
            span {
                    margin: 0 5.5px;
             }
         }

         .home-links {
            margin: 0 auto;
            span {
                    margin: 0 5.5px;
             }
         }
        
    }
}

@media screen and (max-width: 700px) {
    nav {
        .logo {
            display: none;
        }
       
    }
}

