nav {
  @include navigation();
  position: relative;

  .logo {
    width: 92px;
    height: 42px;
  }

  label {
    @include navigation-hamburger-menu();
  }

  .mobile-menu {
    @include navigation-hamburger-menu(#000);
  }

  #toggle {
    display: none;
    position: absolute;
    right: 0;
  }

  .home-links {
    a {
      @include navigation-links();
    }

    span {
      color: $site-blue;
      margin: 0 19.5px;
    }
  }

  .links {
    a {
      @include navigation-links(#000);
    }

    span {
      color: $site-blue;
      margin: 0 19.5px;
    }
  }
}

.nav {
  @include navigation(#000);
}

//media query for mobile devices
@media screen and (max-width: 660px) {
  nav {
    label {
      display: block;
      cursor: pointer;
    }

    .mobile-menu {
      display: block;
      cursor: pointer;
    }

    #toggle:checked + .home-links {
      display: block;
    }

    #toggle:checked + .links {
      display: block;
    }

    .home-links {
      margin-top: 480px;
      margin-right: 0px;
      text-align: center;
      display: none;
      width: 100%;
      height: 400px;
      background-color: rgba(0, 0, 0, 0.96);
      position: absolute;

      a {
        vertical-align: middle;
        text-align: center;
        font-family: GillSansLight;
        display: block;
        border-bottom: 1px solid $site-white;
        line-height: 65px;
      }

      span {
        display: none;
      }
    }

    .links {
      margin-top: 480px;
      margin-right: 0px;
      text-align: center;
      display: none;
      width: 100%;
      height: 400px;
      background-color: rgba(0, 0, 0, 0.96);
      position: absolute;

      a {
        vertical-align: middle;
        text-align: center;
        font-family: GillSansLight;
        display: block;
        border-bottom: 1px solid $site-white;
        color: $site-white;
        line-height: 65px;
      }

      span {
        display: none;
      }
    }

    .logo {
      margin-left: 5%;
    }
  }
}

//media query for responsive navigation
@media screen and (max-width: 990px) {
    nav {
        margin: 0 10px 0 10px;
    }

    .nav {
        margin: 0 10px 0 10px;
    }
}