nav {
  @include navigation();
  position: relative;

  .logo {
    width: 92px;
    height: 42px;
  }

  label {
    @include navigation-hamburger-menu();
  }

  .mobile-menu {
    @include navigation-hamburger-menu(#000);
  }

  #toggle {
    display: none;
    position: absolute;
    right: 0;
  }

  .home-links {
    a {
      @include navigation-links();
    }

    span {
      color: $site-blue;
      margin: 0 19.5px;
    }
  }

  .links {
    a {
      @include navigation-links(#000);
    }

    span {
      color: $site-blue;
      margin: 0 19.5px;
    }
  }
}

.nav {
  @include navigation(#000);
}

@media screen and (max-width: 660px) {
  nav {
    label {
      display: block;
      cursor: pointer;
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
    }

    #toggle:checked + .home-links {
      display: block;
    }

    #toggle:checked + .links {
        display: block;
      }

    .home-links {
      margin-top: 320px ;
      margin-right: 0px;
      text-align: center;
      display: none;
      width: 65%;
      height: 400px;
      background-color: $site-black;
      padding-top: 70px;

      a {
        vertical-align: middle;
        text-align: center;
        font-family: GillSansLight;
        display: block;
        border-bottom: 1px solid $site-white;
        line-height: 53.5px;
       
      }

      span {
          display: none;
      }
    }

    .links {
        margin-top: 320px ;
      margin-right: 0px;
      text-align: center;
      display: none;
      width: 65%;
      height: 400px;
      background-color: $site-black;
      padding-top: 70px;
  
        a {
            vertical-align: middle;
            text-align: center;
            font-family: GillSansLight;
            display: block;
            border-bottom: 1px solid $site-white;
            color: $site-white;
            line-height: 53.5px;
           
        }
  
        span {
            display: none;
        }
      }

    .logo {
      margin-left: 5%;
    }
  }
}
